// 默认主题
// 斑码

article > first-child
  margin-top 0 !important

article > last-child
  margin-bottom 0 !important

article
  font-size 16px

h1
h2
h3
h4
h5
h6
p
figure
blockquote
hr
  padding 0
  margin 16px 0
  line-height 1.5

p
  clear none

ul
ol
  padding 0 0 0 2em
  margin 16px 0

blockquote
  padding 0 1em
  border-left 0.25em solid #ccc
  background-color #fff
  overflow auto

blockquote > :first-child
  margin-top 0px

blockquote > :last-child
  margin-bottom 0px

figure > *
  margin 0


table p
li > *
  margin 4px 0

img
  max-width 100%

table td
table th
  min-width 2em
  padding 0
  border 1px solid #dfe2e5
  word-break break-all
  text-align center

table tr
  background-color #fff

table tr:nth-child(2n)
  background-color #f6f8fa

pre
  width 100%
  padding 10px
  margin 0
  font-family Consolas monospace
  background-color #f8f8f8
  overflow auto

pre code
  min-width 100%
  padding 0
  border-radius 0
  font-size 1em
  background-color unset
  color unset

code
  padding 2px 4px
  border-radius 4px
  font-size 0.9em
  font-family Consolas, monospace
  background-color #f8f8f8

.zebra-editor-inline-image img
  display inline-block
  max-height 3em

hr
  height 0.25em
  padding 0
  border 0
  border-radius 10px
  margin 1.5em 0
  background-color #eee