// Github
// Github

article
  line-height 1.5

h1
h2
h3
h4
h5
h6
  margin-top 24px
  margin-bottom 16px
  font-weight 600
  line-height 1.25

h1
h2
  padding-bottom 0.3em
  border-bottom 1px solid #eaecef

h1
  font-size 2em

h2
  font-size 1.5em

h3
  font-size 1.25em

h4
  font-size 1em

h5
  font-size 0.875em

h6
  font-size 0.85em
  color #6a737d

h1
h2
h3
h4
h5
h6
  code
    font-size inherit

table
  td
  th
    border-color #dfe2e5

  tr:nth-child(2n)
    background-color #f6f8fa

blockquote
  color #6a737d

pre
  padding 16px
  overflow auto
  border-radius 6px
  background-color #f6f8fa
  word-wrap normal

code
  border-radius 6px
  background-color rgba(27  31  35  0.05)

del code
  text-decoration inherit