// Koala
// Koala

article
  line-height 1.6
  letter-spacing 0.034em
  color rgb(63, 63, 63)
  word-break all

p
  line-height 1.75
  color rgb(74, 74, 74)

h1
  line-height 95px
  margin 38px 0 10px 0
  text-align center
  background-image url(https://zebrastudio.tech/img/theme/koala/h1.png)
  background-position center top
  background-repeat no-repeat
  background-size 75px
  & > span
    font-size 20px
    padding-bottom 4px
    border-bottom 2px solid #2e7950
    color #48b378

h2
  text-align center
  margin 1em 0 10px
  background-image url(https://zebrastudio.tech/img/theme/koala/h2.png)
  background-position center center
  background-repeat no-repeat
  background-size 50px
  & > span
    font-size 18px
    line-height 42px
    margin 38px 0 10px
    color #48b378

h3
  margin-top 1.2em
  &::before
    display inline-block
    width 16px
    height 15px
    line-height 15px
    margin-bottom -1px
    content ""
    background-image url(https://zebrastudio.tech/img/theme/koala/h3.png)
    background-size 100% 100%
    background-repeat no-repeat
  & > span
    font-size 17px
    margin-left 8px
    color #48b378

h4
  margin-top 30px

blockquote
  line-height 27px
  padding 0 20px
  border-left 3px solid #35b378
  background-color #fbf9fd
  font-size 15px
  & > :first-child
    margin-top 16px
  & > :last-child
    margin-bottom 16px

hr
  height 1px
  padding 0
  border none
  text-align center
  background-image linear-gradient(
    to right,
    rgba(93, 186, 133, 0),
    rgba(93, 186, 133, 0.75),
    rgba(93, 186, 133, 0)
  )

table
  th
  td
    font-size 14px

figure img
  border-radius 4px
  margin-bottom 25px

p code
  color #28ca71

a
  color #48b378
  text-decoration none
  border-bottom 1px solid #48b378

strong
  line-height 1.75em
  color rgb(74, 74, 74)

strong em
  color rgb(248, 57, 41)
  letter-spacing 0.3em


